html, body, #game {
    width: 100%;
    height: 100%;
}

#game, #ui {
    clear: both;
}

#game {
    background: #333;
    width: 400px;
    height: 400px;
}

/*TILE BASIC*/

.tile {
    border: 1px solid #FFF;
    color: #eee;
    float: left;
    font-size: 2.5em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    /*INNER BORDER*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tile10 {
    width: 50px;
    height: 50px;
}

/*TILE STATES*/

.hidden {
    background: #f4cc03;
}

.open {
    background: #7f7f7f;
}

/*INTERFACE*/

#ui .button {
    float: left;
}

#new {
    background: #333;
}

#checkWin {
    background: #6f6f6f;
}