#game {
    float: left;
    width: 500px;
    height: 500px;
    background: #333;
}

.tile {
    float: left;
    border: 1px solid #FFF;
}

.tile10 {
    width: 48px;
    height: 48px;
}

.hidden {
    background: #f4cc03;
}

.open {
    background: #7f7f7f;
    color: #eee;
    font-size: 2.5em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
#new.open {
    background: #333;
}
#checkWin.open {
    background: #6f6f6f;
}